<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="components-demo">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
      </div>

      <div id="components-first">
        <Hellword></Hellword>
      </div>
<div id="props-title">
    <blog-post v-for="post in listPosts" v-bind:id="post.id" :title="post.title"></blog-post>
    <!-- <blog-post id="2" title="hello B!"></blog-post> -->
    <!-- <blog-post id="3" title="hello C!"></blog-post> -->
</div>
      
    <div id="blog-post-demo">
        <blog-post
        v-for="post in posts"
        v-bind:id="post.id"
        v-bind:title="post.title"
        ></blog-post>
    </div>

    <div id="check-box">
      <!-- <base-checkbox v-model="lovingVue"></base-checkbox> -->
    </div>
</body>
<script>
    Vue.component('button-counter', {
    data: function () {
    return {
      count: 0
    }
  },
  methods: {
    eve: function (event) {
      console.log(event)
    }
  },
  template: '<button v-on:click="eve($event.tagert)">You clicked me {{ count }} times.</button>'
});
new Vue({ el: '#components-demo' });

Vue.component('Hellword', {
    // data: function () {
    //     return{
    //     a:1
    //     } 
    // },
    template : '<h3>first components</h3>',
});
new Vue({ el: '#components-first' });

// Vue.component('blog-post', {
//   props: ['title'],
//   template: '<h3>{{ title }}</h3>'
// });

Vue.component('blog-post', {
  props: [
      'id',
      'title',
    ],
  template: '<h3>{{ id }} + {{ title }}</h3>'
});

new Vue({
  el: '#props-title',
  data() {
    return {
      listPosts: [
        {
          id: 1,
          title: 'Post 1'
        },
        {
          id: 2,
          title: 'Post 2222'
        },
        {
          id: 3,
          title: 'Post 3'
        },
      ]
    }
  }
});

new Vue({
  el: '#blog-post-demo',
  data: {
    posts: [
      { id: 1, title: 'My journey with Vue' },
      { id: 2, title: 'Blogging with Vue' },
      { id: 3, title: 'Why Vue is so fun' }
    ]
  },
});

Vue.component('base-checkbox', {
  model: {
    prop: 'checked',
    event: 'change'
  },
  props: {
    checked: Boolean
  },
  template: `
    <input
      type="checkbox"
      v-bind:checked="checked"
      v-on:change="$emit('change', $event.target.checked)"
    >
  `
}); 
new Vue({el: '#check-box'});
</script>
</html>