<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .container {
            display: flex;
            justify-content:space-around ;
        }
    </style>
    <title>Crud</title>
    
</head>
<body>
    <div id="app">
        <parent inline-template>
            <div>
                <h3>Parent</h3>
                <h2 v-if="messageDelete">{{ messageDelete }}</h2>
                <input v-model="message" type="text">
                <button @click="getMessage">Xác nhận</button>
                <childen :messages = messages v-on:delete-childen-arry ="listDelete" ></childen>
                <childen2 :messages = messages></childen2>
            </div>
        </parent>  
          
    </div>
</body>
<script>
    Vue.component('parent', {
    data: function () {
        return {
        message: '',
        messages: [],
        messageDelete :'',
        }
    },
    methods:{
        getMessage: function() {
        this.messages.push({content: this.message});
        this.message = ''; 
        },
        listDelete: function(message) {
            this.messageDelete = "đã xóa message: "+ message;
        }
    },
});

Vue.component('childen', {
    props: {
        messages: {
            type :Array,
            default: () => []
        },
        // messages: [],
    },
    data: function () {
        return {
            arrMessages: this.messages
        } 
    },
    methods: {  
        deleteMesage: function (index) {
            //console.log(index);
            let message = this.arrMessages[index].content;
            this.arrMessages.splice(index,1);
            this.$emit('delete-childen-arry',message)
        },
    },
    template : 
    `<div>
        <h3>Childen</h3>
        <ul>
            <li v-for="(message,index) in messages">{{message.content}} <a href="#" v-on:click = "deleteMesage(index)">delete</a></li>
        </ul>
    </div>`,
});

Vue.component('childen2', {
    props: {
        messages: {
            type :Array,
            default: () => []
        },
        // messages: [],
    },
    data: function () {
        return {
            arrMessages: this.messages
        } 
    },
    methods: {  
        deleteMesage: function (index) {
            //console.log(index);
            // let message = this.arrMessages[index].content;
            // this.arrMessages.splice(index,1);
            // this.$emit('delete-childen-arry',message)
        },
    },
    template : 
    `<div>
        <h3>Childen2</h3>
        <ul>
            <li v-for="(message,index) in messages">{{message.content}} <a href="#" v-on:click = "deleteMesage(index)">delete</a></li>
        </ul>
    </div>`,
});
new Vue({el:'#app'});
</script>
</html>