<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
<body>
    <div id="app">
        <!-- <base-checkbox>
        </base-checkbox> -->
    <!-- <custom-vue-model></custom-vue-modell> -->
        <sync-emit v-on:update:title="update($event)"></sync-emit>
    </div>
</body>
<script>
    Vue.component('base-checkbox', {
  model: {
    prop: 'checked',
    event: 'change'
  },
  props: {
    checked: Boolean
  },
  
  template: `
    <input
      type="checkbox"
      v-bind:checked="checked"
      v-on:change="$emit('change', $event.target.checked)">`,
});

    Vue.component('custom-vue-model', {
       props : {
        name : "",
       },
       model: {
        prop: 'checked',
        event: 'change'
        },
        template:
           `<div>
              <input type = "text" v-model ="name">
              <h3>{{name}}</h3>
           </div>`,
    });
    Vue.component('sync-emit',{
        data: function() {
            return {
                newTitle :"old",
            }
        },
        methods: {
        update: function() {
            this.$emit('update:title',this.newTitle);
        }
    },
        template: 
        `<div>
            <input type ="text">
            <button @click ="update">emit</button>
        </div>`
    });
 new Vue({
     el: "#app",
     methods: {
         update: function(title)
         {
             alert(title);
         }

     }
 });
</script>
</html>