<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
<body>
    <div id ="app">
        <!-- <div v-bind:id="rawId | formatId"></div> -->
        <input v-model = "id" type="text">
        <h3 v-bind:id ="formatId">Chỉ hiển thị number: {{ id }}</h3>
        <button v-on:click="myGlobalMethod">test Plugin</button>
    </div>
</body>
<script>

   
    var MyPlugin = {};
     MyPlugin.install = function (Vue, options) {
  // 1. add global method or property
  Vue.myGlobalMethod = function () {
    console.log('from plugin');
    return 1;
 }

    }
//calls `MyPlugin.install(Vue)`;
Vue.use(MyPlugin);
 new Vue({
        el:'#app',
        data : {
            formatId: '123',
            id: "",
        },
    });


  // 2. add a global asset
  // Vue.directive('my-directive', {
  //   bind (el, binding, vnode, oldVnode) {
  //     // some logic ...
  //   }

  // });

  // // 3. inject some component options
  // Vue.mixin({
  //   created: function () {
  //     // some logic ...
  //   }
  
  // });

  // // 4. add an instance method
  // Vue.prototype.$myMethod = function (methodOptions) {
  //   // some logic ...
  // }
//}
</script>
</html>