<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>form</title>
    <style>
        .active {
            color: blue;
        }
    </style>
</head>
<body>
    <div id="classBinding">
        <h1 v-bind:class ="{ active:isActive }">Active</h1>
        <h3>{{ isActive }}</h3>
        <h4 v-if ="isActive">active class</h4>
        <h4 v-else>not active class</h4>
        <button v-on:click ="isActive = !isActive" >Togle</button>
    </div>
    <div id="form">
    <h3>Form</h3>
    <div>
       <label for="name">{{ name }}</label> <input type="text" v-model ="name"><br>
       <br>
       <label for="age">{{ age }}</label> <input type="number" v-model ="age">
       <br>
       <br>
       <label for="address">{{ address }}</label> <input type="text" v-model ="address">
       <br>
       <br>
       <label for="checkbox">{{ checked }}</label> <input type="checkbox" id="checkbox" v-model="checked">
       <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">

        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label><br>

        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
        <br>
        <!-- <li v-for="item in items" :key="item.message">
    {{ item.message }} -->
        <ul >
            <li v-for="checkedName in checkedNames">Checked names: {{ checkedName }}</li>
        </ul>
    </div>
</div>
<ul id="example-1">
    <li v-for="item in items" :key="item.message">
      {{ :key}}
    </li>
  </ul>
</body>

<script>
var example1 = new Vue({
  el: '#example-1',
  data: {
    items: [
      { message: 'Foo' },
      { message: 'Bar' }
    ]
  }
});

    var classBinding = new Vue({
        el: '#classBinding',
        data: {
            isActive:false,
        },
    });
    var form = new Vue({
        el: '#form',
        data: {
            name: 'name',
            age: 0,
            address:'address',
            checked:true,
            checkedNames: [],
            picked: [],
    
        }
    });
</script>
</html>