<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <h3>v-model computed</h3>
    <div id="example">
      <label for="">Nhập message</label>
      <input type="text" v-model ="message">
      <p>Original message: {{ message }}</p>
      <button v-on:click ="message = reversedMessage">reversed</button>
      <p>Computed reversed message: {{ message }}</p>
    </div>
    <h3>watch</h3>
    <div id ="demo">{{ fullName }}
      <br>
      <input type="text">
    </div>
</body>

<script>
  
var vm = new Vue({
  el: '#example',
  data: {
    message: 'Hello'
  },
  computed: { 
    // a computed getter
    reversedMessage: function () {
      // `this` points to the vm instance
      return this.message.split('').reverse().join('')
    },
    setMessage: function(message) {
      return this.message = message;
    },
  }
});

var vm = new Vue( {
  el: '#demo',
  data : {
    firstName: 'Foo',
    lastName: 'Bar',
    fullName: 'Foo Bar'
  },
  watch: {
    firstName: function (val) {
      this.fullName = val + ' ' + this.lastName
    },
    lastName: function (val) {
      this.fullName = this.firstName + ' ' + val
    }
  }
});
</script>

</html>